name: Update

on:
  workflow_dispatch:
    branches:
      - main
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: "15 */6 * * *"

jobs:
  list-update:
    runs-on: ubuntu-24.04-arm

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the changed files back to the repository.
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Update Lists
        run: |
          curl -fsSL 'https://mirrors.rockylinux.org/mirrorlist?arch=x86_64&repo=BaseOS-10&country=DE' | awk -F/ '/:\/\//{print $3}' | sed 's/:.*//' | sort -u > feed/BaseOS/de
          curl -fsSL 'https://mirrors.rockylinux.org/mirrorlist?arch=x86_64&repo=BaseOS-10&country=DE,GR,GB,BE,FR,TR,NO,AT,RO,CZ,SE,NL,FI,SK,UA,ES,MK,IT,CH,PL,BG,LV,DK' | awk -F/ '/:\/\//{print $3}' | sed 's/:.*//' | sort -u > feed/BaseOS/europe

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update Feed
